# Splitwise API Configuration
# Copy this file to .env and fill in your actual values

# Splitwise Consumer Credentials (get these from https://secure.splitwise.com/oauth_clients)
VITE_SPLITWISE_CONSUMER_KEY=your_consumer_key_here
VITE_SPLITWISE_CONSUMER_SECRET=your_consumer_secret_here

# Note: You'll need to register your application at:
# https://secure.splitwise.com/oauth_clients
# to get your consumer key and consumer secret
#
# This SDK only enables accessing the user data of the developer (owner) 
# of the application for the linked key/secret. 